.hero {
    background: url(../img/sub_header_home.jpg);
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    height: 400px;
    text-align: center;
    padding-top: 150px;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: -20px;
}

.hero p { 
    padding-top: 40px;
}
div {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 20px;
}

